In [11]:
# Dependencies and Setup
import pandas as pd
import os

In [15]:
# Define path to csv file

cities_file=os.path.join('.','Resources','assets', 'cities.csv')
cities_file

'./Resources/assets/cities.csv'

In [30]:
# Read in csv file and convert to dataframe

file_cities=pd.read_csv(cities_file)

cities_df=pd.DataFrame(file_cities)

cities_df=cities_df[["City_ID", "City", "Cloudiness", "Country", "Date", "Humidity", 
                     "Lat", "Lng", "Max Temp", "Wind Speed"]]

cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [31]:
# output data fram to html format

cities_df.to_html('./resources/cities.html', index=False)